DB_USER=user_name
DB_PASSWORD=password
DB_NAME=db_name
DB_HOST=db_host

PGADMIN_EMAIL=admin@mail.com
PGADMIN_PASSWORD=password

DB_URL=postgresql://user_name:password@db_host/db_name
REDIS_URL=redis://localhost:6379/0

APP_HOST=localhost
APP_PORT=8080

ACCESS_TOKEN_SECRET=accessTokenSecret
REFRESH_TOKEN_SECRET=refreshTokenSecret

API_HOST=http://example.com
